

ul{
    padding: 0;
}
.allDetails{
    background-color: aliceblue;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 1px solid rgba(122, 122, 163, 0.301);
}

    .backTo{
        text-decoration: none;
        height: 20px;
    }
