footer{
    height: 480px;
    .top-footer{
      background-image: url('../img/footer-bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 370px;
      .container{
        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        position: relative;
        background-position: right;
      }
    }

    .bottom-footer{
      height: 110px;
      background-color: #303030;
      .container{
        align-items: center;
      }
    }
  }
  .left{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    h5{
      color: white;
      padding-bottom: 10px;
    }
    .column-mc{
      margin-right: 25px;
    }
  }
  li{
    list-style-type: none;
    margin-bottom: 5px;
    a{
      text-decoration: none;
      color: #959595;
    }
  }
  .right{
    width: 40%;
    .img-box{
        // position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      img{
        // position: absolute;
        width: 100%;
        height: 100%;
        // top: -20%;
    }
    }
  }
  button{
    height: 50px;
    padding: 10px;
    color: white;
    background-color: #303030;
    border-color:#0282f9;
  }
  .socials{

    span{
      color: #0282f9;
    }
  }
